{% extends "::base.html.twig" %}
{% block css %}
    {% stylesheets
        "@SurfcampSurfcampBundle/Resources/public/css/default.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block title %}
    {{ titulo }}
{% endblock %}
{% block body %}
    <nav>{{ titulo }}</nav>
{% endblock %}